# Whitelisting with .gitignore requires this weird dance

/*

!bin/
bin/*
!bin/greenclip

!.git/
!.gitignore
!.gitmodules

!README.md

!.zprivate/
.zprivate/*
!.zprivate/dec.sh
!.zprivate/enc.sh
!.zprivate/rc.enc

!.zsh/
!.zsh/*
!.zshrc
!.zprofile
!.zsh_aliases
!.oh-my-zsh

!.i3/
.i3/*
!.i3/config

!.rofi/
.rofi/*
!.rofi/config

!.ncmpcpp/
.ncmpcpp/*
!.ncmpcpp/config

!.mpd/
.mpd/*
!.mpd/mpd.conf

!.vimrc
!.ideavimrc
!.vim/
.vim/*
!.vim/bundle
!.vim/autoload
!.vim/colors

!.config
.config/*

!.config/terminator
.config/terminator/*
!.config/terminator/config

!.config/volumeicon
.config/volumeicon/*
!.config/volumeicon/volumeicon

!.config/gtk-3.0
.config/gtk-3.0/*
!.config/gtk-3.0/gtk.css

!.config/nvim
.config/nvim/*
!.config/nvim/init.nvim

!Library
Library/*
!Library/Preferences
Library/Preferences/*
!Library/Preferences/com.googlecode.iterm2.plist
!Library/Preferences/com.amethyst.Amethyst.plist
!Library/Preferences/org.pqrs.Seil.plist
!Library/Preferences/org.pqrs.Karabiner.plist
!Library/Application Support
Library/Application Support/*
!Library/Application Support/Karabiner
Library/Application Support/Karabiner/*
!Library/Application Support/Karabiner/private.xml

.DS_Store
doc/tags
