# Whitelisting with .gitignore requires this weird dance

/*
!.git/
!.gitignore
!.gitmodules

!README.md

!.zprivate/
.zprivate/*
!.zprivate/dec.sh
!.zprivate/enc.sh
!.zprivate/rc.enc

!.zsh/
!.zsh/*
!.zshrc
!.zprofile
!.zsh_aliases
!.oh-my-zsh

!.i3/
.i3/*
!.i3/config

!.rofi/
.rofi/*
!.rofi/config

!.ncmpcpp/
.ncmpcpp/*
!.ncmpcpp/config

!.mpd/
.mpd/*
!.mpd/mpd.conf

!.vimrc
!.vim/
.vim/*
!.vim/bundle
!.vim/autoload
!.vim/colors

!.config
.config/*
!.config/terminator
.config/terminator/*
!.config/terminator/config
