[submodule ".zsh/deer"]
	path = .zsh/deer
	url = https://github.com/Vifon/deer
[submodule ".zsh/zsh-syntax-highlighting"]
	path = .zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".vim/bundle/vim-easymotion"]
	path = .vim/bundle/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion
[submodule ".vim/bundle/delimitmate"]
	path = .vim/bundle/delimitmate
	url = https://github.com/Raimondi/delimitMate.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/vim-plist"]
	path = .vim/bundle/vim-plist
	url = https://github.com/darfink/vim-plist
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule ".vim/bundle/ReplaceWithRegister"]
	path = .vim/bundle/ReplaceWithRegister
	url = https://github.com/khogeland/ReplaceWithRegister
[submodule ".vim/bundle/unite-outline"]
	path = .vim/bundle/unite-outline
	url = https://github.com/Shougo/unite-outline
[submodule ".vim/bundle/unite.vim"]
	path = .vim/bundle/unite.vim
	url = https://github.com/Shougo/unite.vim
[submodule ".vim/bundle/nvim-nim"]
	path = .vim/bundle/nvim-nim
	url = git@github.com:khogeland/nvim-nim.git
[submodule ".vim/bundle/neomake"]
	path = .vim/bundle/neomake
	url = https://github.com/neomake/neomake
[submodule ".vim/bundle/vim-operator-user"]
	path = .vim/bundle/vim-operator-user
	url = https://github.com/khogeland/vim-operator-user
[submodule "supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule ".vim/bundle/Command-T"]
	path = .vim/bundle/Command-T
	url = https://github.com/wincent/Command-T
    ignore = dirty
[submodule ".vim/bundle/fzf.vim"]
	path = .vim/bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule ".vim/bundle/ag.vim"]
	path = .vim/bundle/ag.vim
	url = https://github.com/rking/ag.vim
[submodule ".vim/bundle/winteract.vim"]
	path = .vim/bundle/winteract.vim
	url = https://github.com/romgrk/winteract.vim
[submodule "git/mouse-grid"]
	path = git/mouse-grid
	url = git@github.com:khogeland/mouse-grid.git
[submodule "git/rofi-lpass"]
	path = git/rofi-lpass
	url = https://github.com/Mange/rofi-lpass
[submodule "git/fzf"]
	path = git/fzf
	url = https://github.com/junegunn/fzf
[submodule ".vim/bundle/deoplete.nvim"]
	path = .vim/bundle/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim
[submodule ".vim/bundle/deoplete-zsh"]
	path = .vim/bundle/deoplete-zsh
	url = https://github.com/zchee/deoplete-zsh
[submodule ".vim/bundle/deoplete-jedi"]
	path = .vim/bundle/deoplete-jedi
	url = https://github.com/zchee/deoplete-jedi
[submodule ".vim/bundle/neco-syntax"]
	path = .vim/bundle/neco-syntax
	url = https://github.com/Shougo/neco-syntax
[submodule ".vim/bundle/deoplete-go"]
	path = .vim/bundle/deoplete-go
	url = https://github.com/zchee/deoplete-go
[submodule ".vim/bundle/neco-ghc"]
	path = .vim/bundle/neco-ghc
	url = https://github.com/eagletmt/neco-ghc
[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = https://github.com/fatih/vim-go
[submodule ".vim/bundle/vim-sneak"]
	path = .vim/bundle/vim-sneak
	url = https://github.com/justinmk/vim-sneak
[submodule ".vim/bundle/vim-hdevtools"]
	path = .vim/bundle/vim-hdevtools
	url = https://github.com/bitc/vim-hdevtools.git
[submodule ".vim/bundle/haskell-vim"]
	path = .vim/bundle/haskell-vim
	url = https://github.com/neovimhaskell/haskell-vim
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = https://github.com/preservim/tagbar
[submodule ".vim/bundle/multiterm.vim"]
	path = .vim/bundle/multiterm.vim
	url = https://github.com/chengzeyi/multiterm.vim
[submodule ".vim/bundle/vim-lsc"]
	path = .vim/bundle/vim-lsc
	url = https://github.com/natebosch/vim-lsc
